$color-primary: #1b1b3a;
$color-secondary: #0057ff;
$color-tertiary: #222240;
$color-warning: #fea800;
$color-error: #ed00fe;

$color-text-primary: #9696a4;
$color-text-secondary: #45455e;
$color-text-tertiary: #41415a;

$color-blue: #0e338d;
