<div class="message-container" *ngIf="currentOperation == ''">
  <h1>Please select an item</h1>
</div>
<div *ngIf="currentOperation != ''">
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" (click)="closeDialog()">&times;</span>
      <p>Contact Saved.</p>
    </div>
  </div>

  <main>
    <div class="container">
      <h1>{{ contactName }}</h1>
      <form [formGroup]="contactDataForm">
        <section id="name">
          <div>
            <label>First Name</label>
            <input type="text" placeholder="Enter First Name" formControlName="firstName" />
            <div class="form-error">
              <span *ngIf="firstName.touched && firstName.hasError('required')"
                >* First Name is a required field.
              </span>
              <span *ngIf="firstName.touched && firstName.hasError('maxlength')"
                >* First Name can't be more than 25 characters.
              </span>
            </div>
          </div>
          <div>
            <label>Last Name</label>
            <input type="text" placeholder="Enter Last Name" formControlName="lastName" />
            <div class="form-error">
              <span *ngIf="lastName.touched && lastName.hasError('required')"
                >* Last Name is a required field.
              </span>
              <span *ngIf="lastName.touched && lastName.hasError('maxlength')"
                >* Last Name can't be more than 25 characters.
              </span>
            </div>
          </div>
        </section>
        <section id="email">
          <label>Email</label>
          <input type="text" placeholder="Enter Email id" formControlName="email" />
          <div class="form-error">
            <span *ngIf="email.touched && email.hasError('required')"
              >* Email is a required field.
            </span>
            <span *ngIf="email.touched && email.hasError('maxlength')"
              >* Email can't be more than 30 characters.
            </span>
            <span *ngIf="email.touched && email.hasError('pattern')"
              >* Email should be in a correct format. Ex: abc@xyz.com.
            </span>
            <span *ngIf="email.touched && email.hasError('email')"
              >* Email should be in a correct format. Ex: abc@xyz.com.
            </span>
          </div>
        </section>
        <label>Contact Number</label>
        <ng-container formArrayName="phone">
          <ng-container [formGroupName]="i" *ngFor="let form of phone?.controls; index as i">
            <section class="phone-number">
              <select name="contactType" formControlName="contactType" (change)="log()">
                <option [ngValue]="c" *ngFor="let c of contactTypes">{{ c }}</option>
              </select>

              <select name="countryCode" formControlName="countryCode">
                <option value="888">+(888)</option>
                <option value="91">+(91)</option>
                <option value="111">+(111)</option>
              </select>
              <input type="text" placeholder="Enter Mobile Number" formControlName="cellNumber" />
              <i class="gg-add" (click)="addPhone()" *ngIf="i + 1 == phone?.length"></i>
              <i class="gg-close" (click)="removePhone(i)" *ngIf="i + 1 != phone?.length"></i>
            </section>
            <div class="form-error">
              <span
                *ngIf="
                  form?.get('contactType')?.touched &&
                  form?.get('contactType')?.hasError('required')
                "
              >
                <span>Contact Type is a required field. </span>
              </span>
              <span
                *ngIf="
                  form?.get('countryCode')?.touched &&
                  form?.get('countryCode')?.hasError('required')
                "
                >Country Code is a required field.
              </span>
              <span
                *ngIf="
                  form?.get('cellNumber')?.touched && form?.get('cellNumber')?.hasError('required')
                "
                >Mobile Number is a required field.
              </span>
              <span
                *ngIf="
                  form?.get('cellNumber')?.touched && form?.get('cellNumber')?.hasError('pattern')
                "
                >Mobile Number can have digit and be only.
              </span>
            </div>
          </ng-container>
        </ng-container>
        <section>
          <label>Date of Birth</label>
          <input type="date" formControlName="dateOfBirth" placeholder="Enter Date of Birth" />
          <div class="form-error" *ngIf="dateOfBirth.hasError('required')">
            <span>Date of Birth is a required field. </span>
          </div>
        </section>
        <button
          type="reset"
          id="save"
          [disabled]="!contactDataForm?.valid"
          (click)="saveContactDetails()"
        >
          Save Details
        </button>
      </form>
    </div>
  </main>
</div>
