@import "../../../styles.scss";

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  background-color: $color-primary;
  height: 100vh;
}

.container {
  width: 500px;
  padding: 50px 10px;
}

h1 {
  color: $color-text-primary;
  margin-block-start: 0;
  margin-block-end: 1em;
}

label {
  display: block;
  margin-bottom: 10px;
  color: $color-text-tertiary;
  font-size: 10px;
}

input {
  padding: 10px;
  color: $color-text-secondary;
  font-size: 16px;
  background-color: $color-primary;
  border-radius: 5px;
  border: 1px solid $color-text-secondary;
}

section {
  margin-bottom: 15px;
}

section#name {
  display: flex;
  justify-content: space-between;
}

button#save {
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color: $color-secondary;
  padding: 10px 15px;
  color: white;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.form-error {
  color: $color-error;
  font-size: 10px;
  font-weight: 100;
  line-height: 15px;
  padding-top: 5px;
  letter-spacing: 0.3px;
}
.phone-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 70%;
  top: -60px;
  width: 30%;
  height: 80%;
  overflow: auto;
  display: none;
}

p {
  font-size: 18px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  color: #1b1b3a;
  font-weight: bold;
}

.modal-content {
  background-color: rgba($color-text-primary, 0.5);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: $color-primary;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

i[class^="gg"] {
  display: inline-block;
  color: $color-text-tertiary;
  cursor: pointer;

  &:hover {
    color: white;
  }
}
