@import '../../../styles.scss';

.container {
  padding: 15px;
  position: relative;
  height: 90vh;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
  margin-top: 30px;
}

i,
h1 {
  color: $color-text-primary;
}

.search-container {
  display: flex;
  justify-content: center;

  input {
    padding: 10px;
    color: $color-text-secondary;
    font-size: 16px;
    background-color: $color-primary;
    border-radius: 5px;
    border: 1px solid $color-text-secondary;
    margin-top: 20px;
    width: 90%;
  }
}

.add {
  position: absolute;
  bottom: 0;
  left: 50%;

  i {
    transform: scale(1.5);
    cursor: pointer;
  }

  i:hover {
    color: $color-secondary;
  }
}
