<div class="container">
  <h1>Contacts</h1>
  <div class="search-container">
    <input type="text" placeholder="Search Contacts" />
  </div>

  <ng-container *ngFor="let contactData of contactList">
    <app-contact-item
      [contactData]="contactData"
      (click)="processContact('edit', contactList?.id)"
    ></app-contact-item>
  </ng-container>

  <section class="add">
    <i class="gg-add" (click)="processContact('add')"></i>
  </section>
</div>
