@import '../../../../styles.scss';

section {
  margin: 7px;
  padding: 15px;
  margin-top: 15px;

  &:hover {
    background-color: $color-text-secondary;
  }
}

.div-first {
  display: flex;
  justify-content: space-between;

  i {
    transform: scale(1.2);
    cursor: pointer;
    color: $color-text-primary;
  }

  i:hover {
    color: $color-secondary;
  }
}
h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: $color-text-primary;
}

span {
  color: $color-text-primary;
}
