<section>
  <div class="div-first">
    <h2>{{ contactData?.firstName | titlecase }} {{ contactData?.lastName | titlecase }}</h2>
    <i class="gg-trash" (click)="deleteContact(contactData?.id)"></i>
  </div>
  <div>
    <span>{{ contactData?.email[0] }}</span>
    <!-- <span *ngIf="emailCount > 2">({{ emailCount - 1 }} more)</span> -->
  </div>
  <div>
    <span
      >+{{ contactData?.contactNumber[0]?.countryCode }}-{{
        contactData?.contactNumber[0]?.cellNumber
      }}</span
    >
    <span *ngIf="contactNumberCount > 2"> ({{ contactNumberCount - 1 }} more)</span>
  </div>
</section>
